.element {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: black;
}

.stock-rise {
  background: #72ff72;
}

.stock-fall {
  background: #fa7c7c;
}