.Chart-placeholder {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.Table-placeholder {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
}

.Symbol-title1 {
  /* background-color: #32a852; */
  min-height: 35px;
  max-height: 35px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 20px;
  /* color: white; */
}

.Symbol-title2 {
  /* background-color: #32a852; */
  min-height: 25px;
  max-height: 25px;
  /* font-weight: bold; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 17px;
  /* color: white; */
}

.Symbol-info1 {
  background-color: #a14fff;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: white;
}

.Dashboard-buttons {
  text-transform: none;
  font-size: 18;
  background-color: #0077b7;
  color: white;
  border-radius: 12;
  min-width: 150px;
  max-width: 150px;
  min-height: 50px;
  max-height: 50px;
}

.Misc {
  background-color: #ff7b47;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
